#d{
    background-image: linear-gradient(45deg,coral,yellow);
    color: cornsilk;
    border-radius: 20px;
    padding: 8px;
    outline: none;
    width:50%;
}
#d p{
    background-image: linear-gradient(45deg,red,black);
    border-radius: 20px;
    padding: 8px;
}